*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(134, 135, 139);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    background: rgb(220, 132, 223);
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(236, 239, 239, 0.816);

}

main {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    border-top: 2px solid rgb(5, 6, 12);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
body{
    min-height:100vh;
    
    }
    #msg{
    width:100%;
    overflow-wrap : break-word;
    word-wrap : break-word;
    font-size : 18px;/*m*/
    }
    
    button{
    width:80px;/*m*/
    height:80px;
    background:radial-gradient(circle,rgb(13, 33, 43),rgb(102, 102, 145));/*m*/
    border-radius:50%;
    border:none;
    cursor:pointer;
    margin-top:auto;
    color:azure;/*m*/
    transition:0.3s;
    }
    button:hover{
    scale:1.1;
    box-shadow: 0 0 15px;
    }