*{
    margin : 0;
    padding:0;
    box-sizing:0;
}

body{
    background-color:rgb(207, 226, 226);
    color:black;
    display:flex;
    justify-content:center; 
    align-items: center;
}
#app{
     background:gray(255,172,188);
     width:450px ;
     height: 500px;

}

main{
    background: rgb(0, 110, 255);
    padding : 300 px;
    height : 100 px;
    display :flex;
    flex-direction :column;
    align-items:center;
    text-align:center ;
}
nav {
     border-top: 2 px solid black;
      display :flex;
      align-items:center;
      padding: px;


}
